<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PixisAirProject.Properties.Settings.PixisAirConnectionString"
            connectionString="Data Source=V2STUDENTPOC;Initial Catalog=PixisAir;Persist Security Info=True;User ID=Student;Password=ichooseGateway"
            providerName="System.Data.SqlClient" />
        <add name="PixisAirProject.Properties.Settings.ConnectionString"
            connectionString="Provider=IBMDA400.DataSource.1;Data Source=deathstar.gtc.edu;User ID=itpa530;Initial Catalog=S101FF5C"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>